.decrease-button {
    background-color: #f9a826;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.remove-button {
    background-color: red;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.item-right {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.logo-button {
    cursor: pointer;
}

.empty-cart-button {
    background-color: #f9a826;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.header-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

/* .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
} */

.cart-items {
    background-color: #d3d3d34a;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 35rem;
    margin-bottom: 2rem;
}